@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr,
th,
td {
    border: 1px solid #333;
    padding: 0.25em 0.5em;
}